{% extends './includes/base.html' %}
{% block titulo %}
Docente
{% endblock %}
{% block contenido %}
<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <a href="/docente" class="navbar-brand">Sistema kinder</a>
    <div class="d-flex">
      <div class="dropdown me-3">
        <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Paralelos
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          {% for i in data['paralelos'] %}
            <li><a class="dropdown-item" href="/docente/{{i['_id']}}">{{i['nombre']}}</a></li>
          {% endfor %}
        </ul>
      </div>
      <a class="btn btn-danger me-3" href="/salir">Salir</a>
    </div>
  </div>
</nav>
<div class="container-fluid">
  <div class="row justify-content-center mt-5">
    <div class="col-7">
      <div class="card">
        <div class="card-header">
          <h1 class="text-center">Lista de estudiantes</h1>
        </div>
        <div class="card-body">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Nombre</th>
                <th>Foto</th>
                <th>Promedio</th>
              </tr>
            </thead>
            <tbody>
              {% if data['estudiantes'] %}
                {% for i in data['estudiantes']%}
                  <tr>
                    <td>{{i['nombre']}}</td>
                    <td>
                      <img height="100px" src="{{ url_for('static', filename=i['foto']) }}" alt="perfil">
                    </td>
                    <td>{{i['promedio']}}</td>
                  </tr>
                {% endfor %}
              {% else %}
                <tr>
                  <td class="text-center" colspan="3">No hay estudiantes ó no ha escojido un paralelo 😥</td>
                </tr>
              {% endif %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}